<div>
    <div class="container">
        <div class="lead">
            <h1>Invalid Token</h1>
            <p>Your account could not be validated properly either because of the token expired or there is something wrong.</p>
        </div>
    </div>
</div>