@model PasswordResetViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<div class="reset-password-page">
    <div class="lead">
        <h1>Reset yout Password</h1>
        <p>Fill your email and we will send you a verification email</p>
    </div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>Account Details</h2>
                </div>
                <div class="card-body">
                    <form asp-action="ForgotPassword" method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                        </div>
                        <button class="btn btn-primary">Send</button>
                        <div class="form-group">
                            <a asp-action="Login"
                               asp-controller="Account"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                Go to login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
