@model PasswordResetEmailConfirmationSentViewModel
@{
    ViewBag.Title = "Forgot Password - Email Sent";
}
<div>
    <div class="container">
        <div class="lead">
            <h1>Email Sent</h1>
            <p>The link has been sent, please check your email to reset your password.</p>
        </div>
        <div class="card-body">
            <form asp-controller="Account" asp-action="Login">
                <input type="hidden" asp-for="ReturnUrl" />
                <button class="btn btn-secondary" name="button" value="cancel">Got It</button>
            </form>
        </div>
    </div>
</div>