@{
    ViewBag.Title = "Reset Password";
}
<div>
    <div class="container">
        <div class="lead">
            <h1>Reset Password</h1>
            <p>Password changed. Now you can use your new passsword to log in</p>
        </div>     
    </div>
</div>