@model RedirectViewModel

<div class="redirect-page">
    <div class="lead">
        <h1>Welcome</h1>
        <button id="myButton" class="btn btn-primary" name="button">Go To App</button>
    </div>
</div>

<meta http-equiv="refresh" content="1;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
